@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:400,700&display=swap');
:root

:root{
    --main-color: crimson;
  }
  *{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: all .2s linear;
    line-height:1.5 ;
  }
  
  html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  body{
    background: #fcf2e8;
    padding-left:30rem ;
  }
  
  section{
    padding:1rem 5%;
    min-height: 100vh;
  
  }
.heading{
    
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}
.heading::before{
    content: '';
    height: 4px;
    width: 50px;
    background-color: crimson;
    position: absolute;
    top: 100%;
    left: 0;
}
.heading::after{
    content: '';
    height: 4px;
    width: 25px;
    background-color: crimson;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}


    /* font-size: 4rem;
    padding-bottom: 1rem;
    color: #111;
    text-transform: uppercase;
  } */

 
  .heading span{
  
    color: crimson;
    /* text-transform: uppercase; */
  }

  
  .btn
  {
      white-space: nowrap;
      margin-top: 1rem;
      padding: .8rem 3rem;
      background: crimson;
      color: white;
      cursor: pointer;
      font-size: 1.7rem;
      font-weight: 500;
      border-radius: 40px;
      display: inline-block;
     
      
  }
  .btn:hover
  {
    background: #222;
    letter-spacing: .2rem;
      transform: scale(1.05);
  }
  
  header{
    position: fixed;
    top: 0; left: 0; bottom: 0;
    background:#222;
    display: flex;
    align-items: center;
    justify-content:space-between;
    z-index: 1000;
    flex-flow: column;
    padding:8rem 2rem;
    width:30rem ;
    text-align: center;
  
  }
  
  header .logo{
    position: absolute;
    top: 10px;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    text-transform: capitalize;
    
  }
  
  header .logo span {
    color: rgb(233, 88, 117);
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
  }
  
  header .navbar a{
    display: block;
    font-size: 2rem;
    color: white;
    margin: 2rem 0;
  }
  
  header .navbar a:hover{
    letter-spacing: .2rem;
    color: crimson;
  }
  header .socials a{
    font-size: 2.5rem;
    color:lightpink;
    margin: 0.7rem;
  }
  
  header .socials a:hover{
    color: rgb(233, 88, 117);
  }
  
  #menu-bars{
    position: fixed;
    top: 1rem; right: 1rem;
    z-index: 10000;
    background:rgb(233, 88, 117) ;
    color: lightpink;
    border-radius: .5rem;
    padding:1rem 1.5rem ;
    font-size: 3rem;
    cursor: pointer;
    display: none;
  }
  
  .home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  
  .home .image{
    flex: 1 1 40rem;
  }
  
  .home .image img{
    width: 100%;
  }
  
  .home .content{
    flex: 1 1 40rem;
  }
  
  .home .content .hi{
    font-size: 2rem;
    color: var(--main-color);
  }
  
  .home .content h3{
    font-size: 3rem;
    color:#111;
    /* text-transform: capitalise; */
  }
  h3.hello span{
    font-family: 'Clicker Script', cursive;
    color:crimson;
    font-size: 5rem;
    font-weight: 700;
    text-transform: capitalize;
  }
   h3.my-profession{
    
      font-size: 30px;
      margin: 15px 0;
   }
  .home .content .text{
    font-size: 1.7rem;
    color: grey;
    padding: .5rem 0;
  }
  
  h3.my-profession
  {
      font-size: 30px;
      margin: 15px 0;
  }
  .typing
  {
      color: var(--skin-color);
  }
   /* about section start */
  
   .about .row-1{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-bottom: 2rem;
  
  }
   .about .row-1 .image{
      flex:1 1 25rem ;
   }
   .about .row-1 .image img{
      height: 100%;
      width:100% ;
      object-fit: cover;
      border: 1rem solid #fff;
      border-radius: .5rem;
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
   }
   .about .row-1 .content{
      flex:1 1 50rem ;
   }
   .about .row-1 .content h3{
    color: #333;
    font-size: 3rem;
   }
   .about .row-1 .content p{
    color: #666;
    font-size: 1.7rem;
    padding: .5rem 0;
   }
  
  
   .about .row-1 .content .box-container{
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
      padding: 0.5rem 0;
   }
  
   .about .row-1 .content .box-container .box{
    flex: 1 1 20rem;
   }
   .about .row-1 .content .box-container .box span{
    color: var(--main-color);
   }
  
   .about .row-2{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
   }
  
   .about .row-2 .skills{
    flex: 1 1 40rem;
   }
   .about .row-2 .skills .progress{
    padding: 1rem 0;
   }
   .about .row-2 .skills .progress h3{
    display:flex;
    justify-content: space-between;
    padding: .7rem 0;
    font-size: 1.7rem;
    color: #111;
    font-weight: 400;
   }
   .about .row-2 .skills .progress .bar{
    width: 100%;
    background: grey;
    overflow: hidden;
    height: 1rem;
    border-radius: 50rem;
   }
   .about .row-2 .skills .progress .bar span{
    display: block;
    height: 100%;
    background: crimson;
    border-radius: 50rem;
   }
  
   .about .row-2 .skills .progress:nth-child(1) .bar span{
     width: 70%;
   }
  
   .about .row-2 .skills .progress:nth-child(2) .bar span{
      width: 75%;
   }
   .about .row-2 .skills .progress:nth-child(3) .bar span{
      width: 60%;
   }
   .about .row-2 .skills .progress:nth-child(4) .bar span{
    width: 65%;
   }
  
   .about .row-2 .box-container{
    flex: 1 1 40rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
   }
   .about .row-2 .box-container .box{
      flex:  1 15rem;
      padding: 2rem;
     
   }
   .about .row-2 .box-container .box .image2{
     padding-left: 100px;
     
   }
  
   /* EXPEREIENCE */


.row.education,
.row.experience
{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}
.row .education .title
{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
    padding-top: 50px;
}
#experience
{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
    padding-top: 50px;
}


.row .timeline-box
{
    flex: 0 0 100%;
    max-width: 100%;
}
.row .timeline
{
    background-color: white;
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
}
.row .timeline .timeline-item
{
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}
.row .timeline .timeline-item:last-child
{
    padding-bottom: 0;
}
.row .timeline .timeline-item::before
{
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
}
.row .timeline .circle-dot
{
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}
.row .timeline .timeline-date
{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
}
.row .timeline .timeline-date .fa 
{
    margin-right: 5px;
}
.row .timeline .timeline-title
{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);
}
.row .timeline .timeline-text
{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
}

  
   /* portfolio start */

   .portfolio h1{
    padding-top: 40px;
   }
   main {
    
    padding: 5%;
    display: block;
  }
.text,
.card {
  text-align: center;
}
.card {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(85, 63, 38);
    color: white;
    box-shadow: -10px 10px 5px -5px rgba(79, 75, 75, 0.89);
    -webkit-box-shadow: -10px 10px 5px -5px rgba(79, 75, 75, 0.89);
    -moz-box-shadow: -10px 10px 5px -5px rgba(79, 75, 75, 0.89);
    z-index: 1;
    
  }
  .text p {
    margin: 20px 0px;
    font-size: 20px;
    padding-bottom: 50px;
  }
  .card img:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  .card h3 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
  }
  .showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    
  } 
  .img {
    width: 100%;
    /* height: 50px; */
  }
  .img img {
    max-width: 100%;
    height: 250px;
  }



  /* contact */
  .contact .row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    
  }
  .contact-title
  {
      color: var(--skin-color);
      text-align: center;
      font-size: 25px;
      margin-bottom: 20px;
  }
  .contact-sub-title
  {
      color: var(--text-black-900);
      text-align: center;
      font-size: 15px;
      margin-bottom: 60px;
  }
  .contact .contact-info-item
  {
      flex: 0 0 25%;
      max-width: 25%;
      text-align: center;
      margin-bottom: 60px;
     justify-content: center;
  }
  .contact .contact-info-item .icon
  {
      display: inline-block;
  }
  .contact .contact-info-item .icon .fa
  {
      font-size: 25px;
      color: var(--skin-color);
  }
  #linkedin
  {
      font-size: 25px;
      color: var(--skin-color);
  }

  .contact .contact-info-item h4
  {
      font-size: 18px;
      font-weight: 700;
      color: var(--text-black-900);
      text-transform: capitalize;
      margin: 15px 0 5px;
  }
  .contact .contact-info-item p
  {
      font-size: 16px;
      line-height: 25px;
      color: var(--text-black-700);
      font-weight: 400;
  }

  /* form */

.form-container {

  width: 100%;

  max-width: 400px;

  margin: 0 auto;

  padding: 20px;

  background-color: var(--bg-black-100);

  border-radius: 5px;

}

.form-container label {

  font-weight: bold;

}

.form-container input[type="text"],

.form-container textarea {

  width: 100%;

  padding: 10px;

  margin-bottom: 10px;

  border: 1px solid var(--text-black-700);

  border-radius: 4px;

  box-sizing: border-box;

}

.form-container input[type="submit"],

.form-container input[type="button"] {

  background-color: var(--skin-color);

  color: white;

  padding: 10px 20px;

  border: none;

  border-radius: 4px;

  cursor: pointer;

}



.form-container input[type="submit"]:hover,

.form-container input[type="button"]:hover {

  background-color: var(--skin-color);

}

  /* .contact .contact-form
  {
      flex: 0 0 100%;
      max-width: 100%;
  }
  .contact .contact-form .col-6
  {
      flex: 0 0 50%;
      max-width: 50%;
  }
  .contact .contact-form .col-12
  {
      flex: 0 0 100%;
      max-width: 100%;
  }
  .contact .contact-form .form-item
  {
      margin-bottom: 30px;
  }
  .contact .contact-form .form-item .form-control
  {
      width: 100%;
      height: 50px;
      border-radius: 25px;
      background: white;
      border: 1px solid var(--bg-black-50);
      padding: 10px 25px;
      font-size: 16px;
      color: var(--text-black-700);
      transition: all 0.3s ease;
  }
  .contact .contact-form .form-item .form-control:focus
  {
      box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
  }
  .contact .contact-form .form-item textarea.form-control
  {
      height: 140px;
  }
  .contact .contact-form .btn
  {
      height: 50px;
      padding: 0 50px;
  } */



  @media (max-width:1199px)
  {
      .section .container
      {
          padding-top: 70px;
      }
    
      .about .about-content .personal-info .info-item p span 
      {
          display: block;
          margin-left: 0;
      }
  }

  
  @media (max-width:991px)
  {
      .contact .contact-info-item,
      .portfolio .portfolio-item,
      .service .service-item
      {
          flex: 0 0 50%;
          max-width: 50%;
      }
      .home .home-info
      {
          flex: 0 0 100%;
          max-width: 100%;
      }
      .home .home-img
      {
          display: none;
      }
  }











@media (max-width:767px)
{
    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item,
    .about .about-content .experience,
    .about .about-content .education,
    .about .about-content .skills,
    .about .about-content .personal-info
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

  @media only screen and (max-width: 600px) {
    ul {
      display: none;
    }
    .showcase {
      flex-direction: column;
      width: 100%;
    }
    .card {
      width: 80%;
    }

    .img img{
        width: 60%;
        height: 250px;
    }
  
  }
  


@media (max-width:767px)
{
    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item,
    .about .about-content .experience,
    .about .about-content .education,
    .about .about-content .skills,
    .about .about-content .personal-info
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
  
  
  
  






  
  
  /* media queries */
  @media (max-width:991px){
    html{
      font-size: 55%;
    }
    body{
      padding: 0;
    }
  
    #menu-bars{
      display: initial;
    }
    header{
      left: -120%;
    }
    header.active{
      left: 0%;
    }
  }
  
  
  @media (max-width:450px){
    html{
      font-size: 50%;
    
    }
    header{
      width: 100%;
    }
  
    .experience .box-container .box{
      padding-right: 0;
    }
  
  }

/* contact */

/* contact  end */
